/**
 * General CSS
 * 
 * 
 * 
 */

@CHARSET "UTF-8";

#OnePiece *{

}

/***************************************************************************************************/

/* HTML5 */
#OnePiece section, article, aside, header, footer, nav{
	display:block;
}

/* Block */
#OnePiece p{
	line-height: 20px;
}

.p{
	text-indent: 1em;
}

/* headline */
#OnePiece h1, h2, h3, h4, h5, h6{
	font-size:larger;
	margin: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	_border: 1px dotted blue;
}

/* list */
#OnePiece ol,ul{
	_border:1px dotted blue;
	padding-left: 1em;
}

#OnePiece ul li{
	_border:1px dotted green;
	margin-left:1em;
}

#OnePiece ol li{
	_border:1px dotted green;
	margin-left:3em;
}

#OnePiece dl{
	_border:1px dotted blue;
}

#OnePiece dt{
	_border:1px dotted red;
}

#OnePiece dd{
	_border:1px dotted green;
	padding-left: 2em;
	padding-bottom: 1.5em;
}

/* table */
#OnePiece table{
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 1px;
}

#OnePiece th,td{
	vertical-align:top;
	padding: 0px 2px;
}

div.table{
	border: 0px dotted black;
    display: table;
}

div.tr{
	border: 0px dotted blue;
    display: table-row;
}

div.td{
	border: 0px dotted yellow;
    display: table-cell;
    vertical-align: top;
}

.separate{
	border-collapse: separate;
}

.collapse{
	border-collapse: collapse;
	border-width: 0px;
}

.collapse td{
	border-width: 0px;
}

/* Inline */
#OnePiece strong{
	/* If you want to use the bold, using the class=".bold". */
	font-weight:normal;
}

/* Image */
#OnePiece img{
	border-width:0px;
}

/***************************************************************************************************/

/*  layout  */
.m0{
	margin:0px;
}

.m1{
	margin:1px;
}

.m2{
	margin:2px;
}

.m1em{
	margin: 1em;
}

.mt0p{
	margin-top: 0px;
}

.mb0p{
	margin-bottom: 0px;
}

.ml0p{
	margin-left: 0px;
}

.mr0p{
	margin-right: 0px;
}

.p0{
	padding:0px;
}

.pt1em{
	padding-top: 1em;
}

.pl1em{
	padding-left: 1em;
}

.pr1em{
	padding-right: 1em;
}

.pb1em{
	padding-bottom: 1em;
}

.b0{
	border-width: 0px;
}

.b1{
	border: 1px solid black;
}

.i1em{
	text-indent: 1em;
}

.i2em{
	text-indent: 2em;
}

.i3em{
	text-indent: 3em;
}

.i4em{
	text-indent: 4em;
}

.br{
	margin-bottm: 1.5em;
}

.float_left{
	float:left;
}

.float_right{
	float:right;
}

/*  width  */
.micro{
	width:50px;
}

.mini{
	width:100px;
}

.short{
	width:150px;
}

.middle{
	width:200px;
}

.long{
	width:300px;
}

.wide{
	width:400px;
}

.extensive{
	width:500px;
}

/*  height  */
.tall{
	height:200px;
}

/*  position  */
.right{
	text-align:right;
}

.left{
	text-align:left;
}

.center{
	text-align:center;
}

.super{
	vertical-align: super;
}

.up{
	vertical-align: super;
}

.sub{
	vertical-align: sub;
}

.down{
	vertical-align: sub;
}

/*  size  */
.medium{
	font-size: medium;
}

.smaller{
	font-size: smaller;
}

.small{
	font-size:small;
}

.x-small{
	font-size:x-small;
}

.xx-small{
	font-size:xx-small;
}

.larger{
	font-size: larger;
}

.large{
	font-size:large;
}

.x-large{
	font-size:x-large;
}

.xx-large{
	font-size:xx-large;
}

.bigger{
	font-size: larger;
}

.big{
	font-size:large;
}

.x-big{
	font-size:x-large;
}

.xx-big{
	font-size:xx-large;
}

/*  style  */
.bold{
	font-weight:bold;
}

.normal{
	font-weight:normal;
}

/* Italics. base the Cursive. */
.italic{
	font-style:italic;
}

/* Italics. base the Gothic. */
.oblique{
    font-family: oblique;
}

.mono{
	font-family:monospace;
}

.monospace{
	font-family:monospace;
}

.strike{
	text-decoration: line-through;
}

.delete{
	text-decoration: line-through;
}

.underline{
	text-decoration: underline;
}

.overline{
	text-decoration: overline;
}

.blink{
	text-decoration: blink;
}

.nobr{
	white-space: nowrap;
}

.nowrap{
	white-space: nowrap;
}

/*  color  */
.black{
	color:black;
}

.gray{
	color:gray;
}

.red{
	color:red;
}

.blue{
	color:blue;
}

.green{
	color:green;
}

.yellow{
	color:yellow;
}

.orange{
	color: #FF9800;	
}

/*  background color  */
.bg-white{
	background-color: #ffffff;
}

.bg-blue{
	background-color:#eef4ff;
	border-color:#6f96de;
}

.bg-sky{
	background-color: #ebeff9;
	border-color: #6b90da;
}

.bg-beige{
	background-color: #ffffd9;
	border-color: #d2d26a;
}

.bg-yellow{
	background-color: #ffffd9;
	border-color: #d2d26a;
}

.bg-clear{
	background-color: white;
	background-image: url("");
}


/*  border  */
.border{
	border: 1px solid black;
}

.border-0{
	border-width: 0px;
}

.border-1{
	border: 1px solid black;
}

.dotted{
	border: 1px dotted black;
}

.border-blue{
	border-color: blue;
}

.border-yellow{
	border-color: yellow;
}

/* message and error */
.message{
	color:blue;
}

.error{
	color:red;
}

.notice{
	color: #3030ff;
	background-color: #ffffd9;
	
	border: 1px solid blue;
}

/*  arc  */
.arc{
	border-radius:         5px;
	-o-border-radius:      5px;
	-ms-border-radius:     5px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}

/* box shadow */
.box_shadow{
	box-shadow:         3px 3px 10px #606060;
	-o-box-shadow:      3px 3px 10px #606060;
	-ms-box-shadow:     3px 3px 10px #606060;
	-moz-box-shadow:    3px 3px 10px #606060;
	-webkit-box-shadow: 3px 3px 10px #606060;
}

/*  display  */
.box{
	display: box;
	display: -o-box;
	display: -ms-box;
	display: -moz-box;
	display: -webkit-box;
}

.inline{
	display:inline;
}








