php_value	short_open_tag	On
php_value	display_errors	On
php_flag	log_errors		Off

# NewWorld2 execute option
Options +FollowSymLinks +ExecCGI +Indexes

<IfModule mod_rewrite.c>

	# Rewrite start
	RewriteEngine On
	
	# Base Directory
	RewriteBase /
	
	# If a file does not exists.
	RewriteCond  %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ app.php [L]
	
	# Even if a file exists, In the case of the specified extension.
	RewriteCond  %{REQUEST_FILENAME} -f
	RewriteRule (\.css|\.php|\.htm|\.html|\.phtml)$ app.php [L]
	
</IfModule>
