<?php
$this->mark();
?>
<style>
#member_content {
	margin: 0 auto;
}

#member_content th,td {
	border: 1px solid #CCCCCC;
}

#member_content th {
	font-size: 12px;
	padding: 6px 0;
}

#member_content td a {
	font-size: 14px;
}

.input_button {
	background: -moz-linear-gradient(center top, #78BED8, #309FC4) repeat
		scroll 0 0 transparent;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0 2px 4px;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#78BED8),
		to(#309FC4) );
	border: 1px solid #2D9DC2;
	border-radius: 9px 9px 9px 9px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	margin: 15px;
	padding: 4px 30px;
	text-align: center;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
	vertical-align: middle;
}
</style>

<?php $this->form->Start('login'); ?>

<h2 style="border-bottom: 4px solid #B0D485; margin-bottom: 10px; padding-top: 13px; font-size: 20px;">会員の方</h2>

<div id="member_content" style="padding-top: 8px;">
	<div style="margin-left: 100px;">
		<table class="collapse">
			<tr>
				<td>メールアドレス：</td>
				<td><?php $this->form->Input('mailaddr'); ?><br>
					<p class="red"><?php $this->form->InputError('mailaddr'); ?></p>
				</td>
			</tr>
			<tr>
				<td>パスワード：</td>
				<td><?php $this->form->Input('password'); ?>
					<a href="/account/login_forget" style="color: #0981BE;">パスワードを忘れた方はコチラ</a>
					<p class="red"><?php $this->form->InputError('password'); ?></p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td style="padding: 10px;"><?php $this->form->Input('cookie'); ?></td>
			</tr>
		</table>
		<p class="red"><?=$this->GetMessage('login-ng');?></p>
		<?php
		if(@$shop){
			$this->form->Input('submit_button_shop');
		}else{
			$this->form->Input('submit_button');
		}
		?>
	</div>
</div>

<?php $this->form->Finish('login'); ?>
<?php
$this->mark($this->form->getstatus());



